* {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

.logo-one {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-spanone {
  color: #2e2f42;
}
.studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.studio:hover {
  color: #404bbf;
}
.studio:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-a:hover {
  color: #404bbf;
}
.contacts-a:focus {
  color: #404bbf;
}

.section-one {
  background-color: #2e2f42;
  color: white;
}
.title-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button-text {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button-text:hover {
  background-color: #404bbf;
}
.button-text:focus {
  background-color: #404bbf;
}
.sectwo-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.sectwo-parag {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-three {
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.s4 {
  width: 1240px;
  height: 1440px;
}
.s4 > h2 {
  width: 218px;
  height: 40px;
  text-align: center;
}
.row1,
.row2 {
  width: 1128px;
  height: 420px;
}
.row1 > li {
  height: 360px;
  width: 420px;
}
.row2 > li {
  height: 360px;
  width: 420px;
}
footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
  color: #f4f4fd;
}
footer > div {
  width: 264px;
  height: 112px;
}
